<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.user.mapper.UserInfoMapper">
    
    <resultMap type="UserInfo" id="UserInfoResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="userPassword"    column="user_password"    />
        <result property="userGruopId"    column="user_gruop_id"    />
        <result property="userFacePath"    column="user_face_path"    />
        <result property="userIsadmin"    column="user_isadmin"    />
        <result property="userPhone"    column="user_phone"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectUserInfoVo">
        select id, user_id, user_name, user_password, user_gruop_id, user_face_path, user_isadmin, user_phone, create_time, update_time, create_by, update_by, remark from user_info
    </sql>

    <select id="selectUserInfoList" parameterType="UserInfo" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="userPassword != null  and userPassword != ''"> and user_password = #{userPassword}</if>
            <if test="userGruopId != null  and userGruopId != ''"> and user_gruop_id = #{userGruopId}</if>
            <if test="userFacePath != null  and userFacePath != ''"> and user_face_path = #{userFacePath}</if>
            <if test="userIsadmin != null "> and user_isadmin = #{userIsadmin}</if>
            <if test="userPhone != null  and userPhone != ''"> and user_phone = #{userPhone}</if>
        </where>
    </select>
    
    <select id="selectUserInfoById" parameterType="Long" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserInfo" parameterType="UserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="userPassword != null and userPassword != ''">user_password,</if>
            <if test="userGruopId != null">user_gruop_id,</if>
            <if test="userFacePath != null">user_face_path,</if>
            <if test="userIsadmin != null">user_isadmin,</if>
            <if test="userPhone != null">user_phone,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="userPassword != null and userPassword != ''">#{userPassword},</if>
            <if test="userGruopId != null">#{userGruopId},</if>
            <if test="userFacePath != null">#{userFacePath},</if>
            <if test="userIsadmin != null">#{userIsadmin},</if>
            <if test="userPhone != null">#{userPhone},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateUserInfo" parameterType="UserInfo">
        update user_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="userPassword != null and userPassword != ''">user_password = #{userPassword},</if>
            <if test="userGruopId != null">user_gruop_id = #{userGruopId},</if>
            <if test="userFacePath != null">user_face_path = #{userFacePath},</if>
            <if test="userIsadmin != null">user_isadmin = #{userIsadmin},</if>
            <if test="userPhone != null">user_phone = #{userPhone},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserInfoById" parameterType="Long">
        delete from user_info where id = #{id}
    </delete>

    <delete id="deleteUserInfoByIds" parameterType="String">
        delete from user_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>